.container {
    cursor: url("../public/glitch_cursor_32_invert.png"), auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    margin: 0;
    padding-top: 9vh;
    padding-bottom: 15vh;
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: black;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.gridArt {
    position: relative;
    width: auto;
    height: 20vh;
    margin: 1vh 2vw;
    overflow: hidden;
}

.gridArt img, .gridArt video {
    width: auto;
    height: 20vh;
    object-fit: contain;
}

.listContainer {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 4vh auto;
    align-items: flex-start;
}

.listItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2vh;
    width: 75vw;
    color: white;
    font-family: 'Helvetica', sans-serif;
}

.listArt {
    position: relative;
    height: 75vh;
    width: auto;
    overflow: hidden;
}

.listArt img, .listArt video {
    height: 75vh;
    width: auto;
    object-fit: scale-down;
}

.itemDetails {
    margin-left: 20px;
    text-align: right;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2vh;
    padding-left: 3vw;
    width: 100% - 4vw;
    padding-right: .5vw;
}

.tabItem {
    cursor: pointer;
    margin: 0 10px;
    border: none;
    background: none;
    padding: 8px 16px;
    font-weight: bold;
    color: white;
}

.toggleButtonContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: white;
}

.viewToggleButton {
    cursor: pointer;
    border: none;
    background: none;
    padding: 8px 16px;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

.activeTab {
    color: #ffd1f3;
    border-bottom: 2px solid #ffd1f3;
}