.nav {
    cursor: url("../public/glitch_cursor_32.png"), auto;
    background: transparent;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    box-sizing: border-box;
    z-index: 99999;
    height: 8vh;
}

.navList {
    display: flex;
    gap: 1em;
    list-style: none;
    padding: 0;
}

.navLink {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;
    margin-right: 3vw;
}

.navLinkWhite {
    font-size: 1.2em;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 3vw;
    color: white;
}

/* Mobile */
@media (max-width: 600px) {
    .nav {
        display: hidden;
    }
  }